@import url("../../assets/base.css");
/* =====================NAVBAR=================== */
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,.nav__toggle{
    color: var(--title-color)  ;
    font-weight: var(--font-medium);
}
.nav__logo:hover{
    color: var(--first-color);
    
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
    
}
.nav__toggle:hover{
    color: var(--first-color);

}

@media  screen and (max-width:767px) {
    .nav__menu{
        height:200px;
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        transition: .5s;
        border-radius: 1.5rem 1.5rem 0 0;
    }
}

.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.nav__icon{
    width: 1.6rem;
    height: 1.6rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--main-color)  ;
    font-weight: var(--font-medium);    
    fill: var(--main-color); 
    transition: .1s;
    
}

.nav__link:hover{
    color: var(--hover-color); 
    fill: var(--hover-color);
    box-shadow: 2px 3px .1rem 0 rgba(0,0,0,.15);
    border-radius: .5rem ;
}

.nav__close{
    fill:var(--main-color);

    position: absolute;
    right:1.3rem;
    bottom: .5rem;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
}
.nav__close:hover{
   fill: var(--hover-color);
}

    
/* ==========Show Menu====================== */
 .show-menu{
    bottom: 0;
}  
.border-none{
    display: none;
}
.nav__open{
    fill:var(--main-color);
    width: 1.3rem;
    height: 1.3rem
}
.nav__open:hover{
    fill: var(--hover-color);
 }
 .scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
 }
 .nav__btns{
    display: flex;
    align-items: center;
 }
