
.porfolio__container{
    overflow: initial;
}
.porfolio__content{
    padding: 0  1.5rem;
    height: 500px;
}
.porfolio__img{
    width: 300px;
    border-radius: .5rem;
    justify-self: center;
}
.porfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}
.porfolio__description{
    margin-bottom: var(--mb-0-75);
}
.button__icon{
    margin-top: 7px;

}
.porfolio__button:hover .button__icon{
    transform: translateX(.25rem) ;
}

.swiper-button-prev{
    color: var(--main-color);
    left: -.2rem;
}
.swiper-button-next{
    color: var(--main-color);
    width: 2px;
}
.swiper-pagination-bullet-active{
    background: black;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom :-30px;
}
.swiper-cube .swiper-cube-shadow:before{
    content: '';
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    bottom :-20px;
    filter: blur(50px);
}
.swiper-button-next:after, .swiper-button-prev:after{
   font-size: 25px;
   margin : 10px;
   top : 0;
}