@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {

    --header-height: 3rem;
    /* color */
    /* basic-color */
    --hue-color :200;
    --bg-color:rgb(167, 167, 167); 
    --main-color: rgb(105, 105, 105);
    --hover-color:rgb(56, 56, 56);

    --text-button-color: rgb(243, 243, 243);
    --text-hover-color: rgb(156, 156, 156);

    --first-color :hsl(var(--hue-color), 0%,55%);
    --first-color-second :hsl(var(--hue-color), 0%,55%); ;
    --first-color-alt :hsl(var(--hue-color), 0%,55%); ;
    --first-color-lighter :hsl(var(--hue-color), 0%,55%); ;
    --title-color : rgba(82, 82, 82,1);
    --text-color :  rgba(46, 46, 46, 0.8);
    --text-color-light : hsl(var(--hue-color), 0%,55%);
    --input-color:rgb(223, 223, 223);
    /* --body-color :hsl(var(--hue-color), 60%,69%) ; */
    --body-color :#fff;
    --continer-color : #bb9191;
    --scroll-bar-color : rgb(199, 199, 199);
    --scroll-thumb-color : rgb(90, 90, 90); 
    --shadow-color: rgb(121, 118, 118); 

    --body-font : 'Poppins', san-serif; 
    
    --big-font-size: 2rem;
    --h1-font-size : 1.5rem ;
    --h2-font-size : 1.25rem;
    --h3-font-size : 1.125rem;
    --normal-font-size : .938rem; 
    --small-font-size : .813rem; 
    --smaller-font-size : .75rem;
    
    
    --font-medium :500 ;
    --font-semi-bold :600 ;

    /* =============margin-botton ==============*/
    --mb-0-25 :.25rem ;
    --mb-0-5 : .5rem;
    --mb-0-75 :.75rem ;
    --mb-1 :1rem ;
    --mb-1-5 :1.5rem ;
    --mb-2 : 2rem;
    --mb-2-5: 2.5rem;
    --mb-3 :3rem ;

    /* ==================z-index============================ */
    --z-tooltip:10 ;
    --z-fixed :100 ;
    --z-modal:1000 ;
    /* ==================================font-size for large device============ */ 
}
@media screen and (min-width:968px){
    :root{
        --big-font-size: 3rem ;
        --h1-font-size :2.5rem ;
        --h2-font-size :1.5rem ;
        --h3-font-size :1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;
    }
}




/* ==========BASE===================== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font) ;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    transition: 1s;
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}


ul {
    list-style: none;
}
a, router-link{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* =================RESUEABLE CSS CLASSES ================ */
.section{
    padding: 2rem 0 4rem;

}
.section__title{
    font-size: var(--h1-font-size);
}   
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
    text-align: center;
}


/* ====================LAYOUT====================== */
.container{
    max-width: 1096px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

}

/* 
@import url("../components/navbar/Navbar.css");
@import url("../components/HomeSection/Home.css");
@import url("../components/About/About.css"); */


/* =========================DARK THEME======================== */
body.dark-theme{
    --main-color: rgb(114, 114, 114);
    --hover-color:rgb(233, 233, 233);
    --first-color :hsl(var(--hue-color), 0%,55%);
    --first-color-second :hsl(var(--hue-color), 0%,55%); ;
    --first-color-alt :hsl(var(--hue-color), 0%,55%); 
    --first-color-lighter :rgb(65, 65, 65);
    --title-color : rgba(82, 82, 82,1);
    --text-color :  #fff;
    --text-color-light :  rgb(65, 65, 65);
    --input-color:rgb(68, 68, 68);
    --body-color : rgb(31, 31, 31);
    --continer-color : #bb91b7;

    --text-button-color: rgb(255, 255, 255);
    --text-hover-color: rgb(255, 255, 255);
    --scroll-bar-color : rgb(90, 90, 90);   
    --scroll-thumb-color : rgb(199, 199, 199);
    --shadow-color: rgb(184, 184, 184); 
    transition: 1s;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color:  var(--text-color);
}



@media screen and (max-width:350px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);

    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
        
    }
    .home__blob{
        width: 180px;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    
    }
    .qualification__data{
        gap: .5rem;
    }
    .services__container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content{
        padding-right: 3.5rem;
    }
    .services__modal{
        padding : 0 .5rem;
    }
}

@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;

    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }
    .about__container,
    .skills__container,
    .Portfolio__content,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }
    .qualification__section{
        display: grid;
        grid-template-columns: 6fr;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .container{
        margin-left: auto;
        margin-right: auto ;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem  0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        height: 60px;
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
            padding: 0 1rem;
    }

    .nav{
        margin-top: 8px;
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }    
    .nav__logo{
        margin-top: -25px;
    }
   
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change__theme{
        margin:0;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width : 300px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;  
    }
    .about__description {
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-1);
    }
    .qualification__sections{
            grid-template-columns: .5fr;
    }
    .services__container{
        grid-template-columns: repeat(3,300px);
        justify-content: center;
    }
    .services__icon{
        width: 2rem;
        height: 2rem;
    }
    .services__content{
        padding: 6rem .5rem 1rem 1.5rem ;
        width : 220px;
    }
    .services__modal-content{
        width: 450px;
    }
    .Portfolio__img{
        width: 320px;
    }
    .Portfolio__content{
        align-items: center;
    }
    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__social{
        justify-content: flex-end;  
    }
    .footer__copy{
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
    }
    .home__blob{
        width: 400px;
    }
    .home__social{
        transform: translateX(-6rem);
    }
    .services__container{
        grid-template-columns: repeat(3,238px);
    }
    .Portfolio__content{
        column-gap: 5rem;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 50px;
        margin : 10px;
        padding: 10px;
        margin-right: 120px;
     }
     .swiper-button-next:after{
        margin-left: 200px;
     }
     .contact__form{
            width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2,1fr);
    }
}